body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.tennis-image {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom:10px;
    left: 50%;
    transform: translate(-50%,0);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 900px;
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.scoreboard span {
    font-size: 50px;
    margin: 5px 0;
}

.player {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.player_one{
    background-color: red;
    color: lightblue;
}

.player_two{
    background-color:green;
    color:orange;
}

.current_score{
    color: white;
}