*.webm filter=lfs diff=lfs merge=lfs -text
*.WAV filter=lfs diff=lfs merge=lfs -text
*.PSD filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.MOV filter=lfs diff=lfs merge=lfs -text
*.MP3 filter=lfs diff=lfs merge=lfs -text
*.ZIP filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.MP4 filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.AVI filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.M4V filter=lfs diff=lfs merge=lfs -text
*.WEBM filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.AI filter=lfs diff=lfs merge=lfs -text
*.m4v filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
media_aesthetics_class/img/vids/IMG_3265-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3269-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3270-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3286-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3267-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3291-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3292-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3287-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3288-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3289-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/vids/IMG_3290-converted.mp4 -filter -diff -merge -text
media_aesthetics_class/img/response8/parkingtractor.mp4 -filter -diff -merge -text
