h1
{
    color:red;
}

p
{
    color: green;
}

p, li
{
    color: green;
}

li
{
    list-style-type: square;
}

.special {
    color: orange;
    font-weight: bold;
}

li.special{
    color:orange;
    font-weight: bold;
}

span.special{
    color: gray;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p{
    font-size: 200%;
}

p span{
    color:aqua;
}

a:link {
    color: pink;
}

a:visited{
    color:green;
}

a:hover{
    text-decoration: none;
}

button:hover{
    color: white;
}